@model TechnologyIndustriesShop.BL.Orden

@{
    ViewBag.Title = "Detalle de la Orden";
}

<h2>Detalle de la Orden #@Model.Id</h2>

<table class="table table-hover">
    <tr>
        <td><b>Fecha</b></td>
        <td>@Model.Fecha</td>
    </tr>
    <tr>
        <td><b>Cliente</b></td>
        <td>@Model.Cliente.Nombre</td>
    </tr>
    <tr>
        <td><b>Teléfono</b></td>
        <td>@Model.Cliente.Telefono</td>
    </tr>
    <tr>
        <td><b>Dirección</b></td>
        <td>@Model.Cliente.Direccion</td>
    </tr>
    <tr>
        <td><b>Total</b></td>
        <td>L. @Model.Total</td>
    </tr>
</table>

<p>
    @Html.ActionLink("Nuevo producto", "Crear", new { id = Model.Id })
</p>
<table class="table table-striped">
    <tr>
        <th>
            Producto
        </th>
        <th></th>
        <th>
            Cantidad
        </th>
        <th>
            Precio
        </th>
        <th>
            Total
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.ListaDeOrdenDetalle) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Producto.Descripcion)
        </td>
        <td>
            <img src="@item.Producto.UrlImagen" alt="@item.Producto.Descripcion" style="max-width: 64px; height: auto;"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            L. @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            L. @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.Id })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Regresar a órdenes", "Index", "Ordenes")
